
.results-page {
	width: 70% !important;
 	margin-left: 15% !important;
 	margin-right: 15% !important;
 	margin-top: 80px; /* line height of NavBar */
 	padding-top: 1px;

 	background-color: var(--primarycolor);
 	height: 1500px;
}