
.onerow {
/*
	display: grid;
	grid-template-columns: max-content max-content max-content;
    grid-gap:5px;
*/
    display: flex;
    flex-direction: row;
}

.search-form {
	border: 1px solid black;
}

input[type=text] {
	width: 500px;
	height: 40px;
	border-radius: 25px;
	border: 1px gray solid;
	outline: none;

	font-size: 20px;
	padding-left: 15px;
}

input[type=submit] {
	width: 30px;
	height: 1px;
}
