@font-face {
  font-family: 'FugazOne';
  src: local('FugazOne'), url(./fonts/FugazOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  src: local('Alegreya'), url(./fonts/Alegreya-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'AlegreyaItalic';
  src: local('Alegreya'), url(./fonts/Alegreya-ExtraBoldItalic.ttf) format('truetype');
}

.app {
}

