:root {
/* darker colors */
  --1-black:  43, 48, 49;
  --1-gray: #84827E;
  --1-green: 54, 73, 81;
  --1-green2: #1e3845; /* 4th color?*/
  --1-greendark1: #08181f;
  --1-greendark2: #020e14;
  --1-blue: #4c5a64;

/* original colors */
  --2-black: #444e52;
  --2-gray: #92a2ac;  
  --2-white: #aeb4b6;
  --2-green: #4f6165;
  --2-greendark1: #0d303a;
  --2-greendark2: #01242f;
  --2-blue: 46, 112, 138;
  --2-blueBright:  28, 120, 156;
  --2-blueBright2: 34, 150, 195;
  --2-blueBright3: 38, 166, 217;
  --2-blue2: #53717f;
  --white: 255, 255, 255;

  --silvercolor: 192, 192, 192;
  --silvercolor2: 166, 166, 166;

/* Set website colors */
  --primarycolor: var(--1-green);
  --secondarycolor: var(--1-black);
  --tertiarycolor:  var(--2-blueBright2);  /* 2-gray, 2-blue, 2-blue2  */


/* V1 1-green, 1-black */
/* V2 1-green2, 1-greendark2 */
/* V3 2-blue, 2-greendark2 */
/* V4 2-blue2, 1-greendark1 */
}

@font-face {
  font-family: 'FugazOne';
  src: local('FugazOne'), url(./fonts/FugazOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  src: local('Alegreya'), url(./fonts/Alegreya-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'AlegreyaItalic';
  src: local('Alegreya'), url(./fonts/Alegreya-ExtraBoldItalic.ttf) format('truetype');
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

